@font-face {
    font-family: 'Space Mono';
    src: url(font/SpaceMono-Regular.woff2);
}

@font-face {
    font-family: 'Space Mono Bold';
    src: url(font/SpaceMono-Bold.woff2);
    font-style: Bold;
}

 @font-face {
    font-family: 'Poppins';
    src: url(font/Poppins-Regular.woff2);
 
 }
