@font-face {
    font-family: 'Space Mono';
    src: url(font/SpaceMono-Bold.woff2);
    src: url(font/SpaceMono-Regular.woff2);
}

 @font-face {
    font-family: 'Poppins';
    src: url(font/poppins/Poppins-Medium.woff2);


} 