.grille-photo {
    display: flex;
    gap: 25px;
}

.entry-content {
    overflow: hidden;
    width: 50%;
    aspect-ratio: 1/1;
}

.wp-block-image img {
    object-fit: cover;
    height: 100%;
}

.overlay {
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
   top: -100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
;
}


.entry-content:hover {
    .overlay{
        display: flex;
    }
}

.wp-block-image {
    margin-bottom: 0;
}

.oeil {
    display: flex;
    margin: auto;
    vertical-align: middle;
    width: 46px;
    height: 32px;
}

.link-lightbox {
    position: absolute;
    left: 92%;
    top: 2%;
}