@font-face {
  font-family: "Space Mono";
  src: url(font/SpaceMono-Regular.woff2);
}
@font-face {
  font-family: "Space Mono Bold";
  src: url(font/SpaceMono-Bold.woff2);
  font-style: Bold;
}
@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Regular.woff2);
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-out {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.wpcf7 {
  background-color: #fefefe;
  margin: 15% auto;
  padding-top: 20px;
  border: 5px solid #000000;
  width: 597px;
  height: 769px;
}

.wpcf7-form p {
  color: #313144;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message textarea {
  width: 263px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
}

.banner-contact {
  width: 100%;
  margin-bottom: 40px;
}

.wpcf7-spinner {
  display: flex;
}

.wpcf7-text {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  width: 263px;
}

.wpcf7-form-control {
  margin-top: 8px;
}

.wpcf7-submit {
  width: 263px;
  border-radius: 2px;
  height: 50px;
  border: none;
  background: #D8D8D8;
  font-family: "Space Mono";
  font-size: 12px;
  transition: background 0.7s;
}

.wpcf7-submit:hover {
  background: #000000;
  color: white;
}

#menu-footer {
  display: flex;
  list-style-type: none;
  gap: 70px;
  justify-content: center;
  border-top: 1px solid black;
  font-family: "Space Mono";
}

#menu-footer a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Space Mono";
}

.logo {
  margin: 60px 0px 60px 0px;
  gap: 30px;
}

#menu-menu-header {
  display: flex;
  gap: 70px;
  list-style-type: none;
}

.logo-titre-lien img {
  width: 100%;
}

.toggle-nav {
  width: 100%;
}

.close-nav {
  width: 100%;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header a:hover {
  font-family: "Space Mono Bold";
}

body {
  margin: auto;
}

#open-menu-logo {
  display: none;
}

#close-menu-logo {
  display: none;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.entry-content:hover .overlay {
  display: flex;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wp-block-image {
  margin-bottom: 0;
}

.oeil {
  display: flex;
  margin: auto;
  vertical-align: middle;
  width: 46px;
  height: 32px;
}

.link-lightbox {
  position: absolute;
  right: 2%;
  top: 2%;
}

.link-lightbox2 {
  display: none;
  position: absolute;
  right: 2%;
  top: 2%;
}

.titre-overlay {
  position: absolute;
  color: #fff;
  bottom: 2%;
  left: 3%;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cat-overlay {
  position: absolute;
  right: 4%;
  bottom: 2%;
  text-transform: uppercase;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
}

.cat-overlay a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #fff;
}

.info-photo {
  display: flex;
}

.page-photo {
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  max-width: 1370px;
}

.zone-texte {
  width: 50%;
  margin-top: auto;
  margin-bottom: 0;
}

.single-photo {
  width: 50%;
}

.contact-nav {
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px;
}

.single-contact {
  display: flex;
  width: 48%;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px;
  padding-top: 38px;
  padding-bottom: 30px;
  height: 49px;
}

.single-contact p {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.photo-previous {
  visibility: hidden;
}

.photo-previous img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.photo-previous a {
  display: flex;
}

.nav-links {
  width: 25px;
}

.nav-photo {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fleche-nav {
  display: flex;
  gap: 30px;
}

.photo-next {
  visibility: hidden;
}

.photo-next img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.photo-next a {
  display: flex;
}

.photo-prev-next {
  visibility: hidden;
  display: flex;
  margin-bottom: 10px;
}

.other {
  margin: 5% 0 3% 0;
}

.other p {
  font-family: "Space Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}

.all-photo {
  width: 263px;
  border-radius: 2px;
  height: 50px;
  border: none;
  background: #D8D8D8;
  font-family: "Space Mono";
  font-size: 12px;
  transition: background 0.7s;
}

.all-photo:hover {
  background: #000000;
  color: white;
}

.bouton-all {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.zone-texte p {
  text-transform: uppercase;
  font-family: "Space Mono";
}

.zone-texte a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #000000;
}

.zone-texte h2 {
  font-family: "Space Mono";
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}

.grille-photo-single {
  display: flex;
  gap: 25px;
}

.entry-content {
  overflow: hidden;
  width: 50%;
  aspect-ratio: 1/1;
}

.wp-block-image img {
  object-fit: cover;
  height: 100%;
}

.single-photo .wp-block-image img {
  object-fit: contain;
}

.single-photo:hover .overlay2 {
  display: flex;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overlay2 {
  position: relative;
  height: 100%;
  width: 100%;
  top: -100%;
  display: none;
}

.link-lightbox-single {
  position: absolute;
  right: 2%;
  top: 2%;
}

@media screen and (max-width: 1024px) {
  .page-photo {
    width: 100%;
  }
  .info-photo {
    flex-direction: column-reverse;
    margin-left: 100px;
    margin-right: 100px;
  }
  .zone-texte {
    width: auto;
  }
  .single-photo {
    display: flex;
    width: 100%;
  }
  .overlay2 {
    width: auto;
  }
  .nav-photo {
    display: none;
  }
  .single-contact {
    width: 100%;
    flex-direction: column;
    height: 116px;
    align-items: center;
    justify-content: normal;
    padding: 0;
  }
  .meme-categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bouton-all {
    display: none;
  }
  .entry-content {
    margin-left: auto;
    margin-right: auto;
  }
  .grille-photo-single {
    flex-direction: column;
  }
  #menu-footer {
    padding: 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #menu-footer a {
    color: #000000;
  }
  #menu-item-15 {
    margin-top: 40px;
  }
  #menu-item-17 {
    margin-bottom: 40px;
  }
}
.grille-photo {
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  max-width: 1370px;
  display: flex;
  flex-wrap: wrap;
}

.grille-photo .entry-content {
  width: 48%;
  margin: 1%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
}
.hero img {
  width: 100%;
}
.hero .wp-block-image {
  height: 1000px;
  width: 100%;
}

h1 {
  position: absolute;
  margin: auto;
  vertical-align: middle;
  font-family: "Space Mono Bold";
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 3px white;
}

.bouton-charger-plus {
  display: flex;
  justify-content: center;
  margin: 3% 0;
}

.custom-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lb-image {
  max-width: 100%;
  max-height: 100%;
}

.close-lightbox {
  position: absolute;
  top: 60px;
  right: 100px;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
}

.bouton-prev, .bouton-next {
  cursor: pointer;
  color: white;
  font-family: "Space Mono";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

.info-lightbox {
  display: flex;
  justify-content: space-between;
}

.titre-lightbox {
  font-family: "Poppins";
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}

.cat-lightbox {
  font-family: "Space Mono";
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.filtre {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 71%;
  max-width: 1370px;
  margin-top: 80px;
  margin-bottom: 39px;
  overflow: scroll;
  gap: 20px;
}

.filtre-date {
  margin-right: 1%;
}

.filtre-cat-form {
  margin-left: 1%;
  display: flex;
  gap: 20px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  background: #FFF;
  padding: 8px 15px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: none;
}
.select-styled:active, .select-styled.active {
  border-radius: 8px 8px 0px 0px;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent black transparent;
}

.select-options {
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  color: black;
  border-radius: 0px 0px 8px 8px;
}
.select-options li {
  z-index: 10;
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  font-size: 12px;
}
.select-options li:hover {
  color: black;
  background: #FFD6D6;
}
.select-options li.is-selected {
  color: white;
  background: #E00000;
}
.select-options li:active {
  background: #FE5858;
}
.select-options li[rel=hide] {
  display: none;
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.list-down {
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-down both;
}

@keyframes wipe-out-up {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 100% 0);
  }
}
.list-up {
  display: none;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-up both;
}

.premier-choix-liste {
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 1024px) {
  .hero .wp-block-image {
    height: 600px;
  }
  .filtre {
    gap: 5px;
  }
  .filtre-cat-form {
    gap: 5px;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding: 0px 80px 0px 80px;
  }
  h1 {
    font-size: 45px;
    -webkit-text-stroke: 2px white;
  }
  .logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  #open-menu-logo {
    display: block;
  }
  .main-menu {
    display: flex;
    justify-content: center;
  }
  .menu-menu-header-container {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2222;
    background: #E00000;
  }
  #menu-menu-header {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 30%;
  }
  .menu a {
    font-size: 44px;
    color: white;
  }
  @keyframes wipe-in-left {
    from {
      clip-path: inset(0 0 0 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  .swipe-in-menu {
    animation: 1s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-left both;
  }
  @keyframes wipe-out-right {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 100%);
    }
  }
  .swipe-out-menu {
    animation: 1s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-right both;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding: 0px 20px;
  }
}
@media screen and (max-width: 468px) {
  .header {
    padding: 0px 20px;
  }
  .hero .wp-block-image {
    height: 400px;
  }
  h1 {
    font-size: 25px;
    -webkit-text-stroke: 1px white;
  }
}/*# sourceMappingURL=style.css.map */