.info-photo {
    display: flex;
}

.page-photo {
    margin-left: auto;
    margin-right: auto;
    width: 71%;
    max-width: 1370px;
}
.zone-texte{
    width: 50%;
    margin-top: auto;
    margin-bottom: 0;
}

.single-photo {
    width: 50%;
}

.contact-nav {
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px;
}
.single-contact {
    display: flex;
    width: 48%;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px;
    padding-top: 38px;
    padding-bottom: 30px;
    height: 49px;
}

.single-contact p{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.photo-previous {
    visibility: hidden;
    
}

.photo-previous img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.photo-previous a{
    display: flex;
    
}

.nav-links{
    width: 25px;
}


.nav-photo {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fleche-nav {
    display: flex;
    gap: 30px;
}

.photo-next {
    visibility: hidden;
    
}

.photo-next img{
   width: 80px;
   height: 80px;
   object-fit: contain;
}

.photo-next a{
    display: flex;
    
}

.photo-prev-next {
    visibility: hidden;
    display: flex;
    margin-bottom: 10px;
}

.other {
    margin: 5% 0 3% 0;
}

.other p {
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;

}

.all-photo {
    width: 263px;
    border-radius: 2px;
    height: 50px;
    border: none;
    background: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    transition: background 0.7s;
}

.all-photo:hover {
    background: #000000;
    color: white;
}

.bouton-all {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.zone-texte p{
    text-transform: uppercase;
    font-family: 'Space Mono';
}

.zone-texte a{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #000000;
}

.zone-texte h2 {
    font-family: 'Space Mono';
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 30px;
}

.grille-photo-single {
    display: flex;
    gap: 25px;
}

.entry-content {
    overflow: hidden;
    width: 50%;
    aspect-ratio: 1/1;
}

.wp-block-image img {
    object-fit: cover;
    height: 100%;
}
.single-photo .wp-block-image img {
    object-fit: contain;
}

.single-photo:hover {
    .overlay2 {
        display: flex;
        animation: fadeIn 0.5s;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    } }

    .overlay2 {
        position: relative;
        height: 100%;
        width: 100%;
        top: -100%;
        display: none;
    }

    .link-lightbox-single {
        position: absolute;
        right: 2%;
        top: 2%;
    }

    @media screen and (max-width : 1024px) {

        .page-photo {
            width: 100%;
        }

        .info-photo {
            flex-direction: column-reverse;
            margin-left: 100px;
            margin-right: 100px;
        }

        .zone-texte{
            width: auto;
        }

        .single-photo {
            display: flex;
            width: 100%;
        }

        .overlay2{
            width: auto;
        }

        .nav-photo {
            display: none;
        }

        .single-contact{
            width: 100%;
            flex-direction: column;
            height: 116px;
            align-items: center;
            justify-content: normal;
            padding: 0;
        }

        .meme-categorie {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .bouton-all {
            display: none;
        }

        .entry-content{
            margin-left: auto;
            margin-right: auto;

        }

        .grille-photo-single {
            flex-direction: column;
        }

        #menu-footer {
            padding: 0;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        #menu-footer a {
            color: #000000;
        }

        #menu-item-15 {
            margin-top: 40px;
        }

        #menu-item-17 {
            margin-bottom: 40px;
        }
    }